.menu {
    background: white;
    height: 70vh;
    border-radius: 8px 0 0 8px;
    padding-right: 2px;
    border-right: 1px solid black;
}

.menu ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid white;
    transition:  .2s;
}
.menu ul li:hover, 
.menu ul li .active{
    border-bottom: 2px solid blue;
}
@media only screen and (max-width: 1024px) {
    .menu ul {
        display: flex;
        flex-direction: row;
    }
    .menu ul li {
        display: flex;
        flex-direction: row;
        padding-right: 1em;
    }
    .menu{
        height: 6vh;
        width: 100%;
        border-radius: 0;
    }
}