.projects {
    grid-area: 1 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1em;
    animation-name: projects;
    animation-duration: 2s;
}

.projects span {
    height: 9.5em;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1em;
   
    
}

.projects span:hover a .img{
    transform: translateY(-4%);
   
    
}
.projects span a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects span a .img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: .2s;
    
    background-size: contain;
}
.projects span a h1{
  text-align: center;
    font-size: 1.3em;
    color:black ;
}
@media only screen and (max-width: 1024px) {
    /* Mobile */
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }    
    .projects span{
        margin-bottom: 2em;
        height: 9em;
    }
    .projects span h1{
        display: inline-block;
    white-space: nowrap;
    overflow: hidden;
        text-overflow: ellipsis;
        width:7em;
        text-align: center;
    }
  }