.goBack{
    display: flex;
    background: white;
    height: 2.6em;
    font-weight: bold;
    font-size: 1.7em;
    cursor: pointer;
    border-bottom: solid 1px gray;
    
  
}
.goBack a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    animation-name: intro;
    animation-duration: 1s;
}
.details {
    display: flex;
    grid-area: 1 / 1 / 4 / 4;
    flex-direction: column;
    background: white;
}
.project-content{
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    animation-name: intro;
    animation-duration: 1.5s;
}
.project-content h1{
    font-size: 2.5em;
    margin-bottom: .3em;
}
.project-content img {
    width: 26.33%;
    height: auto;

}
.project-content p{
    margin-top: 1em;
    font-size: 1.2em;
}
.project-content .info-project{
    display:flex;
}

.info-project .techs{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 7px;
    grid-column-gap: 2px;
    grid-auto-rows: min-content;
    width: 12em;

    
}
.info-project .techs li{
    padding: 1em;
    border-radius: 3em;
    height: 2em;
    display: flex;
    align-items: center;
    background: rgb(0, 170, 240);
}
.info-project .header-info{
    padding-left: 1em;
    width: 40.33%;

   
}
.info-project .links{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    place-items: center;
    list-style: none;
    
   
 
}
.info-project .links a{
    text-decoration: none;
    color: black;
    height: 2.4rem;
    width: 12em;
    margin-bottom: 0.5em;
    background:white;
    border: solid rgba(0, 0, 0, 0.3) 1px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-right: 2px;
    transition: .2s;
}
.info-project .links a:hover{
    background: lightgray;
}
.info-project .links a img{
    width: 1.7em;
    margin-right: 1em;
    margin-left: 0.5em;
    transition: .2s;
}
.info-project .links a:hover img{
    transform: scale(1.13);
}
.project-content p{
    margin-bottom: 1em;
}
.project-content .other-links{
    font-size: 1em;
    text-decoration: none;
}
